@charset "UTF-8";
/*
    :: Website | Portfólio 01
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*
 * :: RESET ::
 */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*
 * :: GENERAL ::
 */
:root {
  --main-color: #ff2828;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #fce8e8;
  padding-left: 30rem;
}

section {
  padding: 0.5rem 5%;
}
